.header__cta-btn {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 260px;
  height: 72px;
  display: flex;
  color: var(--colors-white);
  font-family: "Big Shoulders", sans-serif;
  font-style: normal;
  font-size: var(--btn-text-lg);
  font-weight: 800;
  line-height: var(--line-height-100);
  letter-spacing: 3.636px;
  text-transform: uppercase;
  background-color: var(--colors-grey-900);
}

.header__cta-btn p {
  width: 204px;
  height: 72px;
  padding: 24px;
}

.header__cta-btn div {
  padding: 24px;
  width: 56px;
  background-color: var(--colors-gold-500);
}

.container main section:nth-child(2) {
  color: var(--colors-white);
  background-color: var(--colors-grey-900);
  padding: 80px 16px;
}

.location__header {
  font-size: var(--text-md-alt);
  line-height: var(--line-height-90);
  margin-bottom: 48px;
}

.address__street {
  color: var(--colors-gold-500);
  font-size: var( --text-sm-alt);
  line-height: var(--line-height-100);
  margin-bottom: 20px;
}

.location__content p {
  font-size: var(--text-xs);
}

address {
  margin-bottom: 20px;
}

footer {
  background-color: var(--colors-gold-500);
  padding: 48px 16px;
}

.footer__title-location {
  font-size: var(--text-sm);
  line-height: var(--line-height-90);
  margin-bottom: 40px;
}

.footer__description-location {
  font-size: var(--text-xs);
  margin-bottom: 40px;
}

.icon-dark {
  color: var(--colors-grey-900);
}

